[submodule "005-LIBRARY/SIMULINKLIB"]
	path = 005-LIBRARY/SIMULINKLIB
	url = https://github.com/westernsatelliteteam/SIMULINKLIB.git
[submodule "005-LIBRARY/SPICELIB"]
	path = 005-LIBRARY/SPICELIB
	url = https://github.com/westernsatelliteteam/SPICELIB.git
[submodule "005-LIBRARY/MAPLIB"]
	path = 005-LIBRARY/MAPLIB
	url = https://github.com/westernsatelliteteam/MAPLIB.git
